@media only screen and (max-width: 700px) {
    body{ 
        background: url('phone.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Open Sans', sans-serif;
      }
      .card {
        display: flex;
        flex-direction: column;
        background: #000000d0;
        color: white;
        width: 90vw;
        height: 400px;
        font-size: 15px;
        margin-left: 0;
        padding-left: 10px;
      }
      .flex{
        display: flex;
        flex-direction: row;   
        justify-content: left;
        margin-bottom: 10px;
        margin-left: 0px;
        
      }
      .searchbar{
        margin-top: 30px;
        margin-bottom: 50px;
      }
      #name{
        margin-bottom: 20px;
        margin-left: 10px;
     }
     h4{
        margin-bottom: 20px;
        margin-left: 10px;
     }
     .card2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: white;
        width: 40vw;
        height: 60px;
        left: 210px;
        top: 490px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
      }
      #time{
        font-size: 1.5rem;
        color: white;
        height: 100px;
        
      }
      #search{
        display: flex;
        justify-content: center;
        width: 70vw;
        border-radius: 20px;
        font-size: 1.2em;
        padding: 30px;
        padding-left: 20px;
        background: transparent;
        color: white;
        margin-right: 10px;
       
      
      }
      #btimg{
        padding-top: 10px;
        background-color: transparent; 
        width: 30px; 
     }
     button{
        background: transparent;
        height: 50px;
        border: 0;
       
     }
}
@media only screen and (max-height: 700px){
.card2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    width: 40vw;
    height: 60px;
    left: 210px;
    top: 410px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
}
